/*GENERAL*/
html {
    scroll-behavior: smooth; 
}


body {
    margin: 0;
    padding: 0;
    color: #212123;
}

a {
    text-decoration: none !important;
}

h2:after {
    display: block;
    height: 2px;
    background-color: rgb(2, 5, 2);
    width: 300px;
    content: " ";
    margin: 0 auto;
    margin-top: 30px;
}

ul {
    list-style-type: none;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
}

h2 {
    font-size: 2.5em !important;
}


/*HEADER*/

header {
    background-image: url('../images/bg_header.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

/*navbar*/


nav {
    padding: 40px !important;
    transition: 1s;
}

.togglerIcon {
    font-size: 2.5em;
    color: rgb(0, 0, 0) !important;

}

button:active {
    outline-style:none !important;
}

.navbar-nav {
    margin: auto 0 auto auto;
}

.dropdown-menu {
    background-color: transparent !important;
    border: none;
}

.dropdown-item {
    color: #fff;
}

.white {
    color: #fff;
    font-weight: 600;
}

.nav-link:hover {
    color: #fff !important;
}

.whiteLogo {
    color: transparent !important;
    font-family: 'Playfair Display', serif;
}

/*js for navbar*/
nav.scroll, .dropdown-menu.scroll {
    background-color: rgb(255, 255, 255) !important;
    transition: 1s;
    box-shadow: 0 4px 2px -2px rgba(180, 180, 180, .4);
    padding: 10px !important;
    font-size: 0.9em;
}

.whiteLogo.scroll, .white1.scroll, .white2.scroll, .white3.scroll, .white4.scroll, .white5.scroll, .white6.scroll, .white7.scroll, .white8.scroll, .white9.scroll, .white10.scroll, .white11.scroll {
    color: #000 !important;
}
/*end js navbar*/

.text-center {
    color: #000;
}


header h1 {
    text-align: center;
    color: #ffff;
    margin-top: 150px;
    font-size: 3em !important;
}

span {
    font-size: 0.6em;
}

.linkHeader {
    margin: 50px auto !important;
    display: block !important;
    text-align: center !important;
    width: 280px;
    text-decoration: none;
    color: #ffff;
    border: 1px solid #fff;
    padding: 10px 60px;
    transition: 0.5s;
    font-weight: 700;
}

.one {
    background-color: #ffff;
    color: #000;
}

.one:hover {
    color: #000;
}

.two:hover {
    color: #000;
    background-color: #fff;
    transition: 0.5s;
}
.bloc-contact a {
    color: #fff;
    margin-top: 10px !important;
    font-weight: 600;
}

.contacts {
    color: #fff;
}

.two {
    color: #fff;
}

header ul {
    list-style-type: none;
    color: #fff;
}

/*MAIN*/


/*section intermédiaire*/
.intermediate{
    height: 180px;
    width: 100%;
    background-image: url(../images/annie-spratt-OWq8w3BYMFY-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/*Section prestation*/

#prestation {
    padding: 100px;
}

img{
    display: block;
    margin: auto;
}

.linkPrestation {
    text-decoration: none;
    color: #000;
    font-size: 1.5em;
    width: 33%;
    padding: 2px 15px;
    display: block;
    margin: 30px auto 60px auto;
    text-align: center;
    border: 1px solid #e4afa9;
    transition: 0.5s;
}

.linkPrestation:hover {
    color: #000;
    background-color:#e4afa9;
    transition: 0.5s;
}

/*Section marques*/

#marques {
    background-image: linear-gradient(rgba(15, 26, 34, 0.2), rgba(29, 17, 8, 0.2)), url(../images/IMG-20201208-WA0015.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
}

#marques ul {
    list-style-type: none;
}

#marques ul li {
    margin: 20px;
}

.nosMarques {
    color: #fff;
    padding-top: 40px;
    margin-bottom: 40px;
}

.marieCohr {
    width
}

/*Follow Us*/
i {
    color: #e4afa9 !important;
    font-size: 4em;
}

/*Footer*/

footer {
    background-color: #21241e;
    color: #fff;
    padding: 30px;
}

footer ul li {
    color: #fff;

}

iframe {
    width: 100%;
    height: 100%;
}

.copyright {
    color: #fff;
    background-color: #151712;
}

.copyright a {
    text-decoration: none;
    color: #ffff;
    margin: 0;
    padding: 0;

}